.app{
    position: absolute;
    width: 100vw;
    height: 50vh;
    background-color: aqua;
    top: 205vh;
    background-image: url(/greenscreen/images/app.webp);
    background-size: cover;
   
    
}