.features
{
    width: 100vw;
    height: 80vh;
    background-color: rgb(222, 231, 231);
    position: absolute;
    top: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;

        .tagline{
            width: fit-content;
            height: fit-content;
            font-size: 8vh;
            text-align: center;
            color: grey;
            font-family: 'Times New Roman', Times, serif;
        }

        .container1{
            position: absolute;
            top: 15vh;
            align-items: center;
            justify-content: space-around;
            width: 51vw;
            height: 55vh;
            background-color: whitesmoke;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 1vw;
            box-shadow: 0px 0px 10px;
            border-radius: 5px;


                .box{
                    width: 10vw;
                    height: 20vh;
                    border-radius: 2px;
                    box-shadow: 0px 0px 5px;
                    margin: 10px;
                    transition: all ease .5s ;
                    background-color: rgb(214, 206, 206);
                    background-size: cover;
                }

                .box:hover{
                    transform: scale(1.2);
                }

                
        }
}