body {
  margin: 0;
  padding: 0;
}

body .container {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
  padding: 0;
}

body .container .login {
  width: 50%;
  height: 50%;
  border-radius: 25px;
  background-color: #b0c5be;
  -webkit-transform-origin: center;
          transform-origin: center;
  position: absolute;
  left: 25%;
  top: 40%;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

body .container .login .username input[type=text] {
  width: 80%;
  height: 60px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  top: 15%;
  left: 10%;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  border: none;
  outline: none;
}

body .container .login .password input[type=text] {
  width: 60%;
  height: 60px;
  background-color: white;
  border-radius: 50px;
  position: absolute;
  top: 40%;
  left: 20%;
  text-align: center;
  font-size: 30px;
  margin: 0px;
  border: none;
  outline: none;
}

body .container .login .submit {
  position: absolute;
  top: 65%;
  height: 50px;
  width: 100px;
  border-radius: 10px;
}

body .container .login .cross {
  position: absolute;
  left: 93%;
  top: 5%;
  font-size: 30px;
}

body .container .navbar {
  width: 100vw;
  height: 15vh;
  background-color: #0d0d33;
  opacity: .9;
  position: relative;
  margin-bottom: 4rem;
  overflow: hidden;
}

body .container .navbar .tag {
  position: absolute;
  top: 3vh;
  left: 5vw;
  color: white;
  font-size: 50px;
}

body .container .navbar #btn1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  color: white;
}

body .container .navbar #btn1::after {
  content: '';
  border: solid white 1px;
  background-color: white;
  width: 100%;
  height: 1px;
  -webkit-transform: scale(0);
  transform: scale(0);
  position: absolute;
  bottom: -4px;
  right: 0;
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

body .container .navbar #btn1::before {
  content: '';
  border: solid white 1px;
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  top: -2px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0);
  transform: scale(0);
}

body .container .navbar #btn1:hover::before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

body .container .navbar #btn1:hover::after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

body .container .navbar .btn1-hire1 {
  font-size: 30px;
  position: absolute;
  top: 4.2vh;
  left: 25vw;
}

body .container .navbar .btn-hire2 {
  font-size: 30px;
  position: absolute;
  top: 4.2vh;
  left: 40vw;
}

body .container .navbar .btn-sub {
  font-size: 30px;
  position: absolute;
  top: 4.2vh;
  left: 55vw;
}

body .container .navbar .btn-app {
  font-size: 30px;
  position: absolute;
  top: 4.2vh;
  left: 70vw;
}

body .container .navbar .btn-login {
  font-size: 30px;
  position: absolute;
  top: 4.2vh;
  left: 85vw;
}

body .container .navbar::before {
  content: '';
  height: 500%;
  width: 40%;
  background-color: #30f030;
  opacity: .6;
  position: absolute;
  top: -150%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  overflow: hidden;
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

body .container .navbar:hover::before {
  width: 45%;
}

body .container .start {
  width: 100vw;
  height: 50vh;
  position: absolute;
  top: 15vh;
}

body .container .start .i {
  width: 100vw;
  height: 50vh;
  background-image: url(/greenscreen/cars/12.jpg);
  -webkit-filter: blur(1px);
          filter: blur(1px);
  background-size: cover;
  background-repeat: no-repeat;
}

body .container .start .j {
  position: absolute;
  top: 15vh;
  left: 20vw;
  width: 60vw;
  height: 10vh;
  border-radius: 10px;
  color: #383737;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  font-size: 5vh;
  font-family: 'Times New Roman', Times, serif;
  outline: none;
  margin: 0;
  border: none;
}

body .container .start .j:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .container .features {
  width: 100vw;
  height: 80vh;
  background-color: #dee7e7;
  position: absolute;
  top: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .features .tagline {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 8vh;
  text-align: center;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
}

body .container .features .container1 {
  position: absolute;
  top: 15vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 51vw;
  height: 55vh;
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1vw;
  -webkit-box-shadow: 0px 0px 10px;
          box-shadow: 0px 0px 10px;
  border-radius: 5px;
}

body .container .features .container1 .box {
  width: 10vw;
  height: 20vh;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 5px;
          box-shadow: 0px 0px 5px;
  margin: 10px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
  background-color: #d6cece;
  background-size: cover;
}

body .container .features .container1 .box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .container .cars {
  background-color: #eedcdc;
  position: absolute;
  top: 145vh;
  width: 100vw;
  height: 110vh;
  overflow: hidden;
}

body .container .cars #myCarousel {
  height: 100vh;
}

body .container .cars #myCarousel .carousel-inner img {
  width: 100vw;
}

body .container .services {
  position: absolute;
  top: 255vh;
  width: 100vw;
  height: 60vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .services .box {
  width: 19vw;
  height: 40vh;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 20px;
          box-shadow: 0px 0px 20px;
  margin: 20px;
  -webkit-transition: all ease .5s;
  transition: all ease .5s;
}

body .container .services .box:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

body .container .services #box1 {
  background-image: url(/greenscreen/images/corp-hire.png);
  background-size: cover;
}

body .container .services #box2 {
  background-image: url(/greenscreen/images/oneway.jpg);
  background-size: cover;
}

body .container .services #box3 {
  background-image: url(/greenscreen/images/month.png);
  background-size: cover;
}

body .container .services #box4 {
  background-image: url(/greenscreen/images/corp-hiare.png);
  background-size: cover;
}

body .container .services #box5 {
  background-image: url(/greenscreen/images/corp-haire.png);
  background-size: cover;
}

body .container .services #box6 {
  background-image: url(/greenscreen/images/corp-ahire.png);
  background-size: cover;
}

body .container .app {
  position: absolute;
  width: 100vw;
  height: 50vh;
  background-color: aqua;
  top: 315vh;
  background-image: url(/greenscreen/images/app.webp);
  background-size: cover;
}

body .container .app .tagline {
  width: 40vw;
  font-size: 8vh;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  left: 2vw;
  top: 4vh;
}

body .container .app img {
  width: 15vw;
  height: 10vh;
  position: absolute;
  right: 20vw;
  top: 10vh;
}

body * {
  margin: 0;
  padding: 0;
}

body a {
  text-decoration: none;
  color: whitesmoke;
}

body .foot {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 25vh;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 50px;
  background-color: #14213d;
  color: whitesmoke;
  display: none;
}

body .foot .block-1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2rem 0 1rem 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .foot .block-1 #block-1-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .foot .block-1 .block-1-para {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0.5rem 0 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .foot .block-2 {
  margin: 2rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .foot .block-2 .links {
  height: 50%;
}

body .foot .block-2 .links .link {
  margin-right: 0.5rem;
  border-radius: 5px;
}

body .foot .block-2 .links .link:hover {
  height: 50%;
  color: black;
  background-color: white;
}

body .foot .block-2 .icon i {
  margin-right: 0.300rem;
  font-size: 1.5rem;
}

body .foot .block-2 .icon i:hover {
  color: black;
  background-color: white;
}
/*# sourceMappingURL=main.css.map */